h1 {
    color: brown
}
.teste {
    background-color:aquamarine;
    border: 5px black insert;
}
.cabeçalho {
    color:blueviolet;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
}
