body {
    background-color: aquamarine; 
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}
h1 {
    color: brown;
    text-align: center;
    text-transform: uppercase;
}
.conteudo-principal {
    background-color: white;
    margin: 20px auto; 
    border: 2px solid gray;
    border-radius: 15px; 
}
.botao-email {
    display: inline-block;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
img {
    border: 5px solid aquamarine;
    display: block;
    margin: 0 auto;
}
